# Allow non-root access to rpi-spi USB CDC interfaces
# USB VID:PID = 2e8a:000a
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", MODE:="0660", GROUP:="dialout", TAG+="uaccess"
